Gebäude
{{#each villageBuildings as |vb|}}
    <div class="building">
        {{vb.building.id}} ({{vb.level}})
        <div>
            {{#each vb.building.cost as |d|}}
                <div>{{d.name}}: {{value-growth value=d.value growth=d.growth type=d.growthType level=vb.level}}</div>
            {{/each}}
        </div>

        {{#if vb.building.conditionErrors }}
            {{#each vb.building.conditionErrors as |e|}}
                {{e.message}}
            {{/each}}
        {{else}}
            <button {{action "build" vb.building.id}}>Bauen</button>
        {{/if}}
    </div>
{{/each}}