Forschung
{{#each playerResearches as |pr|}}
    <div>
        {{pr.research.id}} ({{pr.level}})
        <div>
            {{#each pr.research.cost as |d|}}
                <div>{{d.name}}: {{value-growth value=d.value growth=d.growth type=d.growthType level=pr.level}}</div>
            {{/each}}
        </div>

        {{#if pr.research.conditionErrors }}
            {{#each pr.research.conditionErrors as |e|}}
                {{e.message}}
            {{/each}}
        {{else}}
            <button>Forschen</button>
        {{/if}}
    </div>
{{/each}}