<div class="container">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body navi-container">
                {{#link-to "frontpage.blog"}}Blog{{/link-to}}
                <a href="#">Story</a>
                <a href="#">Forum</a>
                <hr/>
                {{#link-to "frontpage.login"}}Login{{/link-to}}
                {{#link-to "frontpage.register"}}Register{{/link-to}}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-left: 0; padding-right: 0;">
                <div class="container-fluid">
                    {{outlet}}
                </div>
            </div>

        </div>
    </div>
</div>



