<div class="container">
    <div class="col-md-3">
        {{player-info currentPlayer=model.player}}

        <div class="panel panel-default">
            <div class="panel-body navi-container">
                {{#link-to "game.overview"}}Übersicht{{/link-to}}

                {{#link-to "game.building"}}Gebäude{{/link-to}}
                {{#link-to "game.research"}}Forschung{{/link-to}}
                {{#link-to "game.units"}}Einheiten{{/link-to}}

                {{#link-to "game.army"}}Armee{{/link-to}}

                {{#link-to "game.alliance"}}Allianz{{/link-to}}

                {{#link-to "game.map"}}Karte{{/link-to}}
                <hr/>
                <b>Dev</b>
                <a href="#">Punkte</a>
                <a href="#">Formationen</a>

                <a href="#">Forum</a>

                <a {{action "logout"}}>Logout</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {{resource-frame}}
        <div class="panel panel-default">
            <div class="panel-body" style="padding-left: 0; padding-right: 0;">
                <div class="container-fluid">
                    {{outlet}}
                </div>
            </div>

        </div>
    </div>
</div>



