<div class="panel panel-default">
    <div class="panel-body">
        <div>{{currentPlayer.name}}</div>

        <div>
            {{info.focusedVillageName}}
            ({{info.focusedVillageX}}/{{info.focusedVillageY}})
        </div>

        <div>{{info.playerPoints}} Punkte</div>
        <div>{{info.playerMessageCount}} Nachrichten</div>
    </div>
</div>