<form class="form-signin" {{action "register" on="submit"}}>
    <h2 class="form-signin-heading">Registrierung</h2>

    <label for="email" class="sr-only">E-Mail:</label>
    {{input type="text" value=email class="form-control" placeholder="E-Mail"}}

    <label for="password" class="sr-only">Password:</label>
    {{input type="password" value=password class="form-control" placeholder="Passwort"}}

    <label for="password_repeat" class="sr-only">Password:</label>
    {{input type="password" value=password_repeat class="form-control" placeholder="Passwort wiederholen"}}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
</form>
