{{#if session.isAuthenticated}}
    <div class="panel panel-default">
        <div class="panel-body" style="padding-left: 0; padding-right: 0;">
            <div class="container-fluid resource-container">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Holz</span>
                        <span class="form-control">{{villageResources.wood}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Stein</span>
                        <span class="form-control">{{villageResources.stone}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Kohle</span>
                        <span class="form-control">{{villageResources.coal}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Eisen</span>
                        <span class="form-control">{{villageResources.iron}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}